/* Hero Section  */

.hero {
  background: #0b113b;
  background: linear-gradient(
    171deg,
    rgba(11, 17, 59, 1) 39%,
    rgba(21, 30, 84, 1) 71%
  );
  width: 100%;
}

.hero-content {
  margin: 0 auto;
  padding: 100px;
  gap: 300px;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  justify-content: center;
}

.hero-img {
  width: 400px;
  height: auto;
}

.hero-information .header-gold {
  color: var(--accent-gold);
  font-size: 2.4rem;
  font-weight: 700;
}

.hero-information .header-white {
  font-size: 2.4rem;
  font-weight: 700;
}

.hero-information p {
  color: #cbd5e1;
  margin-top: 10px;
  margin-bottom: 30px;
}

.catalog-label-row {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--accent-gold);
}

.catalog-label-row::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: var(--accent-gold);
  opacity: 0.8;
}

/* Filter section  */

.filter {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 90px;
  z-index: 999;
}

.filter-container {
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.7);
  gap: 20px;
  align-items: center;
  display: flex;
  padding: 20px 40px;
  border-radius: 50px;
  background-color: var(--white);
}

.filter-tag {
  background-color: #cbd5e1;
  border-radius: 10px;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.filter-tag:hover {
  opacity: 0.9;
}

.tag-all {
  background-color: #0b113b;
  color: var(--white);
}

/* course section  */

.course-info {
  display: flex;
  width: 100%;
  margin: 40px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.faculty-text h1,
p {
  margin-bottom: 20px;
}

.faculty-text h1 {
  font-weight: 700px;
  color: var(--primary-navy);
  font-size: 2.4rem;
}

.faculty-cards {
  display: flex;
  gap: 30px;
}

.faculty-card {
  background-color: var(--white);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-top: 4px solid var(--primary-navy);
  width: 460px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 20px;
}

.faculty-card:hover {
  transform: translateY(-5px);
  transition: all ease-in-out 0.5s;
}

.faculty-card button {
  margin-bottom: 30px;
  background-color: var(--primary-navy);
  color: var(--white);
}

.faculty-card button:hover {
  color: var(--text-gray);
  transition: all ease-in-out 0.4s;
  transform: translatex(-2px);
}

/* Page Media Queries */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero {
    height: 500px;
    background: #0b113b;
    background-image:
      linear-gradient(
        171deg,
        rgba(11, 17, 59, 0.9) 39%,
        rgba(21, 30, 84, 0.9) 71%
      ),
      url("../../img/branding/logo.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 500px;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .foundation-container {
    flex-direction: column;
  }

  .hero-img {
    visibility: hidden;
  }

  .hero-content {
    flex-direction: column;
    padding: 20px;
    /* width: 100%;
    background-size: 500px; */
  }

  .filter {
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 75px;
    z-index: 999;
  }

  .filter-container {
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.7);
    gap: 10px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px 20px;
    background-color: var(--white);
  }

  .filter-tag {
    background-color: #cbd5e1;
    font-size: 8px;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }

  .tag-all {
    background-color: #0b113b;
    color: var(--white);
  }

  .course-info {
    margin: 20px 25px;
  }

  .faculty-text {
    margin: 0 20px;
  }

  .faculty-text p {
    font-size: 0.8rem;
  }

  .faculty-cards {
    flex-direction: column;
  }

  .faculty-card {
    width: 370px;
  }
}
